/* Write your CSS here! */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&display=swap');

html{
    box-sizing: border-box;
    
}
*, *:before, *:after{  /*  inherit the box-sizig */
    box-sizing: inherit;
}
html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Barlow" , sans-serif;
      
 }

 .header{
    background-image: url("kenya heading.jpeg");
    background-size: cover; /* background image to cover the entire container*/
    background-position: center;
    height: 100vh;
    color: azure;
    text-align: center;
    font-family: 'Courgette', cursive;
    padding-top: 100px;
    


 }
 

 .header h1{
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 6em;
 }

 #paragraph1 {
   font-size: 1em;
 }


 .main{
    background-color: rgb(244, 244, 243);
    
 }

 .main h1{
    font-family: 'Courgette', cursive;
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding-top: 50px;
 }

 

 #greatMigration{
    height: 100vh;
 }

 #mountKenya{
    height: 100vh;
 }

 #flamingos{
    height: 100vh;
 }


 